ACTION=="add|change", SUBSYSTEM=="block", SUBSYSTEMS=="usb", ENV{ID_FS_USAGE}=="filesystem", RUN+="/usr/bin/usb-dirty-pages-udev '%k' '%E{ID_USB_VENDOR_ID}' '%E{ID_USB_MODEL_ID}'"
