[Unit]
Description=Privileged service to ensure that adw-gtk3 theme is applied for system flatpaks
After=systemd-user-sessions.service
Before=adw-gtk3-installer.service

[Service]
Type=simple
ExecStart=/usr/bin/adw-gtk3-installer-privileged

[Install]
WantedBy=multi-user.target
