[Unit]
Description=Append user to mtk dialout group to make dialout udev rules working

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/dialout-append

[Install]
WantedBy=multi-user.target
