[Unit]
Description=Service for USB dirty pages as a fallback when USB devices are mounted too early
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/usb-dirty-pages-service

[Install]
WantedBy=multi-user.target
