[Unit]
Description=Append user to adbusers group to make Android udev rules working

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/adbusers-append

[Install]
WantedBy=multi-user.target
