[Unit]
Description=Autostart Flatpak app (%i)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExitType=cgroup
Environment="FLATPAK_RUN_OPTIONS=%i"
ExecStart=:/usr/bin/flatpak run $FLATPAK_RUN_OPTIONS
Restart=no
TimeoutStopSec=5s
Slice=app.slice
