[Desktop Entry]
Type=Application
Name=Tuta Mail
Comment=Tuta Mail silent autostart
Icon=com.tutanota.Tutanota
Exec=NetworkManager nm-online && flatpak run com.tutanota.Tutanota -a
