[Desktop Entry]
Type=Application
Name=Tuta Mail
Comment=Tuta Mail silent autostart
Icon=com.tutanota.Tutanota
Exec=flatpak run com.tutanota.Tutanota -a
