[Unit]
Description=Steam Proton-GE Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/proton-ge-updater

[Install]
WantedBy=multi-user.target
