[Unit]
Description=Configure Gidro-OS for current hardware
After=rpm-ostreed.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hardware-setup

[Install]
WantedBy=multi-user.target
