[Unit]
Description=Configure initramfs setup
After=rpm-ostreed.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/initramfs-setup

[Install]
WantedBy=multi-user.target
