[Unit]
Description=Minimum-free ZRAM setup
After=initramfs-setup.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/minimum-free-zram

[Install]
WantedBy=multi-user.target
