[Unit]
Description=Install & update adw-gtk3 theme
ConditionUser=!@system
After=adw-gtk3-installer-privileged.service

[Service]
Type=simple
ExecStart=/usr/bin/adw-gtk3-installer

[Install]
WantedBy=graphical-session.target