[Unit]
Description=Copy homefiles to /home
ConditionEnvironment=DISPLAY

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/homefiles

[Install]
WantedBy=default.target
