title: Welcome to Gidro-OS
properties:
  mode: "run-once"
screens:
  first-screen:
    source: yafti.screen.title
    values:
      title: "Welcome to Gidro-OS"
      icon: "/path/to/icon"
      description: |
        ATTENTION!
        Please wait for notification that all flatpaks are installed before proceeding!

        Explore useful apps and options!
  applications:
    source: yafti.screen.package
    values:
      title: Application Installer
      show_terminal: true
      package_manager: yafti.plugin.flatpak
      package_manager_defaults:
        user: true
        system: false
      groups:
        User Apps:
          description: User applications for general usage.
          default: false
          packages:
             - Warp (Global File Sharing): app.drey.Warp
             - OBS (Screen Recorder): com.obsproject.Studio
             - Thunderbird (Email): org.mozilla.Thunderbird
             - Discord: com.discordapp.Discord
             - Telegram: org.telegram.desktop
             - FreeTube (YouTube alt.): io.freetubeapp.FreeTube
             - Dialect (Translator): app.drey.Dialect
             - Deluge (Torrent): org.deluge_torrent.deluge
             - ASCII Draw: io.github.nokse22.asciidraw
             - InkScape: org.inkscape.Inkscape
             - Mousai (Shazam alt.): io.github.seadve.Mousai
             - NewsFlash: io.gitlab.news_flash.NewsFlash
             - LibreOffice: org.libreoffice.LibreOffice
             - Tagger: org.nickvision.tagger
             - Parabolic (YouTube Downloader): org.nickvision.tubeconverter
             - Nicotine+ (Soulseek alt.): org.nicotine_plus.Nicotine
             - Tenacity (Audacity alt.): org.tenacityaudio.Tenacity
             - GitHub Desktop: io.github.shiftey.Desktop
        Gaming Apps:
          description: User applications for gaming usage.
          default: false
          packages:
            - Steam: com.valvesoftware.Steam
            - ProtonPlus (Steam Proton Manager): com.vysp3r.ProtonPlus
            - Grapejuice (Roblox): net.brinkervii.grapejuice
            - Space Cadet Pinball: com.github.k4zmu2a.spacecadetpinball            
            - Cartridges (Universal Game Launcher): hu.kramo.Cartridges            
            - DuckStation (PS1 Emulator): org.duckstation.DuckStation
            - PCSX2 (PS2 Emulator): net.pcsx2.PCSX2
            - RPCS3 (PS3 Emulator): net.rpcs3.RPCS3
            - PPSSPP (PSP Emulator): org.ppsspp.PPSSPP
            - Xemu (OG-Xbox Emulator): app.xemu.xemu
            - simple64 (N64 Emulator): io.github.simple64.simple64
            - Dolphin Emulator (GameCube/Wii/TriForce Emulator): org.DolphinEmu.dolphin-emu
            - MelonDS (DS/DSi Emulator): net.kuribo64.melonDS
            - Ryujinx (Switch Emulator): org.ryujinx.Ryujinx
            - DOSBox Staging (DOS Emulator): io.github.dosbox-staging
  configure-gidro-os:
    source: yafti.screen.package
    values:
      title: Additional Gidro-OS packages & configs
      show_terminal: true
      package_manager: yafti.plugin.run
      groups:         
        Hide GRUB:
          description: Hides GRUB text output on boot.
          default: false
          packages:
          - Hide GRUB: pkexec ujust configure-grub hide
        Remove window close button:
          description: Removes window close button. Useful for mouses which have special button mapped for window closing.
          default: false
          packages:
          - Remove window close button: ujust configure-close-button hide  
        Scheduled nightly reboot:
          description: Enables scheduled nightly reboot to happen in 03:00. Useful for users who leave their PCs on 24/7, but still want system updates applied.
          default: false
          packages:
          - Scheduled nightly reboot: pkexec ujust scheduled-reboot enable         
         
  final-screen:
    source: yafti.screen.title
    values:
      title: "All done!"
      icon: "/path/to/icon"
      links:
        - "Install More Applications":
            run: /usr/bin/gnome-software
        - "Website":
            run: /usr/bin/xdg-open https://github.com/fiftydinar/gidro-os
      description: |
        Thanks for trying Gidro-OS, I hope you enjoy it!
